GES 2013-2022

In [10]:
import pandas as pd

# File path to all ages and recent grads CSV file
GES_2013_22_file_path = "/Users/zeming/DSA3101/GES_2013_2022_cleaned.csv"

# Read the CSV files into dataframes
GES_2013_22_df = pd.read_csv(GES_2013_22_file_path)

# Let's check if there are any "na" or "NA" strings in the DataFrame, which might not be interpreted as missing values (NaN).

# # We will check if "na" or "NA" strings are present in any of the columns
# na_strings_summary = (GES_2013_22_df == 'na').sum() + (GES_2013_22_df == 'NA').sum()

# na_strings_summary

# Replace "na" and "NA" with NaN
GES_2013_22_df.replace(['na', 'NA'], pd.NA, inplace=True)

# Find and fill row and column with missing values with the mean values of the column 
def find_and_fill_missing_values(df):
    # Iterate over the DataFrame to check for missing values
    for col in df.columns:
        if df[col].isnull().any():  # Check if the column has missing values (NaN)
            # Fill missing numerical columns with the mean
            if pd.api.types.is_numeric_dtype(df[col]):
                mean_value = df[col].mean()
                df[col].fillna(mean_value, inplace=True)
                print(f"Filled missing values in column '{col}' with mean: {mean_value}")
    
    return df


GES_2013_22_df = find_and_fill_missing_values(GES_2013_22_df)


display(GES_2013_22_df)

# Save the modified DataFrame back to the same CSV file (overwrite)
GES_2013_22_df.to_csv(GES_2013_22_file_path, index=False)

Filled missing values in column 'employment_rate_overall' with mean: 91.76495726495726
Filled missing values in column 'employment_rate_ft_perm' with mean: 81.97264957264957
Filled missing values in column 'basic_monthly_mean' with mean: 3663.827491635043
Filled missing values in column 'basic_monthly_median' with mean: 3537.8017094017096
Filled missing values in column 'gross_monthly_mean' with mean: 3781.2550874000003
Filled missing values in column 'gross_monthly_median' with mean: 3631.195799145299
Filled missing values in column 'gross_mthly_25_percentile' with mean: 3298.313247863248
Filled missing values in column 'gross_mthly_75_percentile' with mean: 4093.868961538462

,year,university,school,degree,employment_rate_overall,employment_rate_ft_perm,basic_monthly_mean,basic_monthly_median,gross_monthly_mean,gross_monthly_median,gross_mthly_25_percentile,gross_mthly_75_percentile
0,2013,Nanyang Technological University,College of Business (Nanyang Business School),Accountancy and Business,97.4,96.1,3701.000000,3200.0,3727.000000,3350.000,2900.0,4000.0
1,2013,Nanyang Technological University,College of Business (Nanyang Business School),Accountancy (3-yr direct Honours Programme),97.1,95.7,2850.000000,2700.0,2938.000000,2700.000,2700.0,2900.0
2,2013,Nanyang Technological University,College of Business (Nanyang Business School),Business (3-yr direct Honours Programme),90.9,85.7,3053.000000,3000.0,3214.000000,3000.000,2700.0,3500.0
3,2013,Nanyang Technological University,College of Business (Nanyang Business School),Business and Computing,87.5,87.5,3557.000000,3400.0,3615.000000,3400.000,3000.0,4100.0
4,2013,Nanyang Technological University,College of Engineering,Aerospace Engineering,95.3,95.3,3494.000000,3500.0,3536.000000,3500.000,3100.0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1257,2022,Singapore Institute of Technology,SIT-University of Glasgow,Bachelor of Science with Honours in Nursing,98.6,88.4,3511.114754,3458.0,3796.516393,3800.000,3500.0,4100.0
1258,2022,Singapore Institute of Technology,Technische Universität München,Bachelor of Science in Chemical Engineering,94.1,85.3,3704.482759,3600.0,4002.482759,3950.000,3600.0,4300.0
1259,2022,Singapore Institute of Technology,Technische Universität München,Bachelor of Science in Electrical Engineering ...,95.0,85.0,4522.200000,4200.0,4605.533333,4280.000,4000.0,4800.0
1260,2022,Singapore Institute of Technology,The Culinary Institute of America,Bachelor of Business Administration in Food Bu...,89.5,78.9,2609.000000,2450.0,2969.000000,3050.000,2300.0,3500.0
1261,2022,Singapore Institute of Technology,University of Liverpool,Bachelor of Arts with Honours in Criminology a...,90.5,85.7,4277.888889,4050.0,4533.247222,4560.835,4000.0,5293.0

GES 2023 NUS PDF

In [243]:
import fitz 
import pandas as pd 
import numpy as np
from tabulate import tabulate 

# Insert the path of where your CPFMS3 and CPFPNMS3 are saved in your local drive (Exemption IBG and PAYNOW lumpsum) 
GES_2023_NUS_path = r"/Users/zeming/DSA3101/Web Publication NUS GES 2023.pdf"

# Print the file path to verify
print(f"GES 2023 NUS File path: {GES_2023_NUS_path}")

# Open CPFMS3 PDF file
GES_2023_NUS_pdf = fitz.open(GES_2023_NUS_path)

# Select the page (e.g., first page)
page = GES_2023_NUS_pdf.load_page(0)

# Extract text with their positions
blocks = page.get_text("blocks")

# Process the blocks to form a table
rows = []

for block in blocks:
    # Adjust unpacking to match the actual structure of block tuples
    if len(block) >= 5:
        x0, y0, x1, y1, text, block_no = block[:6] 

    # Split block text into lines 
    lines = text.split("\n")
    for line in lines:
        rows.append((y0, x0, line))

# Sort rows by their y-coordinate (top to bottom)
rows.sort(key=lambda r: r[0])

# Group text into rows
table_data = []
current_row = []
current_y = None
tolerance = 3 # Tolerance for considering text as part of the same row

for y, x, text in rows:
    if current_y is None or abs(y - current_y) > tolerance:
        if current_row:
            table_data.append(current_row)
        current_row = [text]
        current_y = y
    else:
        current_row.append(text)

# Append the last row
if current_row:
    table_data.append(current_row)

# Convert the list of lists into a DataFrame
GES_2023_NUS_df = pd.DataFrame(table_data)

# Remove commas and convert to numeric types
GES_2023_NUS_df = GES_2023_NUS_df.replace({',': ''}, regex=True)
GES_2023_NUS_df = GES_2023_NUS_df.replace({'\$':''}, regex=True) 
GES_2023_NUS_df = GES_2023_NUS_df.replace({'%':''}, regex=True) 
GES_2023_NUS_df = GES_2023_NUS_df.apply(pd.to_numeric, errors='ignore')

# Drop rows 1 to 12 
GES_2023_NUS_df = GES_2023_NUS_df.drop(GES_2023_NUS_df.index[0:12])

# Reset the index after dropping rows, and drop the old index
GES_2023_NUS_df = GES_2023_NUS_df.reset_index(drop=True)

# Rename all column headers to the same ones as 2013-22 report
GES_2023_NUS_df.columns = ['school', 'degree', 'employment_rate_overall', 'employment_rate_ft_perm', 
                           'basic_monthly_mean', 'basic_monthly_median', 'gross_monthly_mean',
                           'gross_monthly_median', 'gross_mthly_25_percentile', 'gross_mthly_75_percentile', '', '']

# Shift rows that are misaligned to the right 
print(GES_2023_NUS_df.index)

rows_to_shift_to_right = [3,4,8,10,17,31,32,33] 
rows_to_shift_to_right = [row - 2 for row in rows_to_shift_to_right]

for row_index in rows_to_shift_to_right:
    GES_2023_NUS_df.loc[row_index] = GES_2023_NUS_df.loc[row_index].shift(1)


# Combine columns for specific rows to get full degree names 
rows_to_combine = [9,11,12,14,15,16,18,19,20,21,22,23,24,25,26,27,28,29,30,34]
rows_to_combine = [row - 2 for row in rows_to_combine]
GES_2023_NUS_df.loc[rows_to_combine, 'school'] = GES_2023_NUS_df.loc[rows_to_combine, 'school'] + GES_2023_NUS_df.loc[rows_to_combine, 'degree']
             
# Shift rows that are misaligned to the left
rows_to_shift_to_left = [18,22] 
rows_to_shift_to_left = [row - 2 for row in rows_to_shift_to_left]

for row_index in rows_to_shift_to_left:
    GES_2023_NUS_df.loc[row_index] = GES_2023_NUS_df.loc[row_index].shift(-1)

# Swap rows for degree column 
rows_to_swap = [9,11,12,14,15,16,18,19,20,21,22,23,24,25,26,27,28,29,30,34]
rows_to_swap = [row - 2 for row in rows_to_swap]
GES_2023_NUS_df.loc[rows_to_swap, ['school', 'degree']] = GES_2023_NUS_df.loc[rows_to_swap, ['degree', 'school']].values


# Rename Faculty 
rows_to_rename_1 = [2,3,4]
rows_to_rename_2 = [7,8,9,10,11,12]
rows_to_rename_3 = [13,14,15,16,17]
rows_to_rename_4 = [18,19,20,21]
rows_to_rename_5 = [22,23,24,25,26,27,28,29,30,31,32,33,34]
rows_to_rename_1 = [x - 2 for x in rows_to_rename_1]
rows_to_rename_2 = [x - 2 for x in rows_to_rename_2]
rows_to_rename_3 = [x - 2 for x in rows_to_rename_3]
rows_to_rename_4 = [x - 2 for x in rows_to_rename_4]
rows_to_rename_5 = [x - 2 for x in rows_to_rename_5]

GES_2023_NUS_df.loc[rows_to_rename_1, 'school'] = 'Faculty of Arts & Social Sciences'
GES_2023_NUS_df.loc[rows_to_rename_2, 'school'] = 'Faculty of Science'
GES_2023_NUS_df.loc[rows_to_rename_3, 'school'] = 'NUS Business School'
GES_2023_NUS_df.loc[rows_to_rename_4, 'school'] = 'School of Computing'
GES_2023_NUS_df.loc[rows_to_rename_5, 'school'] = 'College of Design and Engineering'

# Catch additional errors 
GES_2023_NUS_df.loc[18-2, 'degree'] = 'Bachelor of Computing (Computer Science)' 
GES_2023_NUS_df.loc[22-2, 'degree'] = 'Bachelor of Engineering (Biomedical Engineering)'

# Fill NA with mean 
GES_2023_NUS_df['employment_rate_overall'] = pd.to_numeric(GES_2023_NUS_df['employment_rate_overall'], errors='coerce')
GES_2023_NUS_df['employment_rate_ft_perm'] = pd.to_numeric(GES_2023_NUS_df['employment_rate_ft_perm'], errors='coerce')
GES_2023_NUS_df['basic_monthly_mean'] = pd.to_numeric(GES_2023_NUS_df['basic_monthly_mean'], errors='coerce')
GES_2023_NUS_df['basic_monthly_median'] = pd.to_numeric(GES_2023_NUS_df['basic_monthly_median'], errors='coerce')
GES_2023_NUS_df['gross_monthly_mean'] = pd.to_numeric(GES_2023_NUS_df['gross_monthly_mean'], errors='coerce')
GES_2023_NUS_df['gross_monthly_median'] = pd.to_numeric(GES_2023_NUS_df['gross_monthly_median'], errors='coerce')
GES_2023_NUS_df['gross_mthly_25_percentile'] = pd.to_numeric(GES_2023_NUS_df['gross_mthly_25_percentile'], errors='coerce')
GES_2023_NUS_df['gross_mthly_75_percentile'] = pd.to_numeric(GES_2023_NUS_df['gross_mthly_75_percentile'], errors='coerce')


# Find and fill row and column with missing values with the mean values of the column 
def find_and_fill_missing_values_by_faculty(df):
    # Replace 'N.A.' with NaN so pandas can treat them as missing values
    df.replace(r'\s*N\.A\.\s*', np.nan, regex=True, inplace=True)
    
    # 'Faculty' is the column to group by
    faculty_column = 'school'  # Adjust this to match your actual column name if different

    # Check data types before replacing
    print("Column data types before processing:")
    print(df.dtypes)

    # Loop through all columns to fill missing values where applicable
    for col in df.columns:
        # Ensure we are dealing with numeric columns
        if pd.api.types.is_numeric_dtype(df[col]):
            # Group by the 'Faculty' column and fill missing values with the mean within each group
            df[col] = df.groupby(faculty_column)[col].transform(lambda group: group.fillna(group.mean()))
            print(f"Filled missing values in column '{col}' using group mean based on '{faculty_column}'")

    return df
    
GES_2023_NUS_df = find_and_fill_missing_values_by_faculty(GES_2023_NUS_df)


# Insert new columns at the beginning to add year and uni 
GES_2023_NUS_df.insert(0, 'year', '2023')
GES_2023_NUS_df.insert(1, 'university', 'National University of Singapore')

# Drop the last two blank columns
GES_2023_NUS_df = GES_2023_NUS_df.iloc[:, :-2]

# Print the DataFrame using tabulate
print("Extracted GES NUS 2023 Table:\n")
print(tabulate(GES_2023_NUS_df, headers='keys', tablefmt='plain'))

# Save the DataFrame to a CSV file
output_csv_path = "/Users/zeming/DSA3101/GES_2023_NUS.csv"
GES_2023_NUS_df.to_csv(output_csv_path, index=False)

# Close the document
GES_2023_NUS_pdf.close()

GES 2023 NUS File path: /Users/zeming/DSA3101/Web Publication NUS GES 2023.pdf
RangeIndex(start=0, stop=33, step=1)
Column data types before processing:
school                        object
degree                        object
employment_rate_overall      float64
employment_rate_ft_perm      float64
basic_monthly_mean           float64
basic_monthly_median         float64
gross_monthly_mean           float64
gross_monthly_median         float64
gross_mthly_25_percentile    float64
gross_mthly_75_percentile    float64
                              object
                             float64
dtype: object
Filled missing values in column 'employment_rate_overall' using group mean based on 'school'
Filled missing values in column 'employment_rate_ft_perm' using group mean based on 'school'
Filled missing values in column 'basic_monthly_mean' using group mean based on 'school'
Filled missing values in column 'basic_monthly_median' using group mean based on 'school'
Filled missing values in column 'gross_monthly_mean' using group mean based on 'school'
Filled missing values in column 'gross_monthly_median' using group mean based on 'school'
Filled missing values in column 'gross_mthly_25_percentile' using group mean based on 'school'
Filled missing values in column 'gross_mthly_75_percentile' using group mean based on 'school'
Extracted GES NUS 2023 Table:

      year  university                        school                             degree                                                          employment_rate_overall    employment_rate_ft_perm    basic_monthly_mean    basic_monthly_median    gross_monthly_mean    gross_monthly_median    gross_mthly_25_percentile    gross_mthly_75_percentile
 0    2023  National University of Singapore  Faculty of Arts & Social Sciences  Bachelor of Arts                                                                80.4                         66.1                3942                    3700                  4291                    3745                         3400                         5000
 1    2023  National University of Singapore  Faculty of Arts & Social Sciences  Bachelor of Arts (Hons)                                                         86.5                         73.6                3926                    3930                  4083                    4008                         3500                         4500
 2    2023  National University of Singapore  Faculty of Arts & Social Sciences  Bachelor of Social Sciences                                                     89                           80.7                4173                    4000                  4304                    4015                         3720                         4500
 3    2023  National University of Singapore  Faculty of Dentistry               Bachelor of Dental Surgery                                                     100                          100                  4586                    4550                  4589                    4550                         4500                         4950
 4    2023  National University of Singapore  Faculty of Law                     Bachelor of Laws6                                                               96.9                         96.9                7051                    7000                  7244                    7000                         6000                         7100
 5    2023  National University of Singapore  Faculty of Science                 Bachelor of Science*                                                            88.2                         70.6                4492                    4100                  4642                    4250                         3650                         4800
 6    2023  National University of Singapore  Faculty of Science                 Bachelor of Science (Hons)                                                      89.6                         81.7                4180                    3985                  4290                    4000                         3600                         4500
 7    2023  National University of Singapore  Faculty of Science                 Bachelor of Science (Computational Biology)**                                   89.4                         81.45               4390.75                 4196.25               4524.25                 4287.5                       3843.75                      4750
 8    2023  National University of Singapore  Faculty of Science                 Bachelor of Science (Pharmacy)6**                                               89.4                         81.45               4390.75                 4196.25               4524.25                 4287.5                       3843.75                      4750
 9    2023  National University of Singapore  Faculty of Science                 Bachelor of Science (Pharmaceutical Science) (Hons)                             96.6                         93.1                3892                    3700                  3999                    3900                         3625                         4200
10    2023  National University of Singapore  Faculty of Science                 Bachelor of Science (Data Science and Analytics)                                83.2                         80.4                4999                    5000                  5166                    5000                         4500                         5500
11    2023  National University of Singapore  NUS Business School                Bachelor of Business Administration                                             87.8                         77.6                5707                    5000                  6002                    5167                         4077                         7500
12    2023  National University of Singapore  NUS Business School                Bachelor of Business Administration (Hons)                                      94.5                         90.6                5256                    4600                  5413                    4800                         4000                         5800
13    2023  National University of Singapore  NUS Business School                Bachelor of Business Administration (Accountancy)*                              92.3                         76.9                3813                    3600                  4199                    3600                         3520                         3820
14    2023  National University of Singapore  NUS Business School                Bachelor of Business Administration (Accountancy) (Hons)                        96.5                         94.4                4769                    4000                  4850                    4200                         3600                         5450
15    2023  National University of Singapore  NUS Business School                Bachelor of Science (Real Estate)                                               92                           86.6                4097                    4000                  4239                    4000                         3800                         4500
16    2023  National University of Singapore  School of Computing                Bachelor of Computing (Computer Science)                                        92.4                         91.9                6673                    6181                  6877                    6333                         5500                         7700
17    2023  National University of Singapore  School of Computing                Bachelor of Computing (Information Security)                                    89.5                         89.5                5433                    5451                  5707                    5500                         5000                         6210
18    2023  National University of Singapore  School of Computing                Bachelor of Computing (Information Systems)                                     91.4                         91.4                5707                    5500                  5937                    5500                         5000                         6000
19    2023  National University of Singapore  School of Computing                Bachelor of Science (Business Analytics)                                        93.6                         93                  5895                    5500                  6030                    5500                         5000                         6600
20    2023  National University of Singapore  College of Design and Engineering  Bachelor of Engineering (Biomedical Engineering)                                87.6                         81.4                4123                    4000                  4243                    4100                         3740                         4600
21    2023  National University of Singapore  College of Design and Engineering  Bachelor of Engineering (Chemical Engineering)                                  85.7                         80.7                4374                    4200                  4602                    4405                         4000                         4760
22    2023  National University of Singapore  College of Design and Engineering  Bachelor of Engineering (Civil Engineering)                                     93.9                         87.7                3966                    3900                  4139                    4000                         3800                         4500
23    2023  National University of Singapore  College of Design and Engineering  Bachelor of Engineering (Electrical Engineering)                                92.2                         89.7                4790                    4675                  4918                    4800                         4340                         5350
24    2023  National University of Singapore  College of Design and Engineering  Bachelor of Engineering (Engineering Science)                                   77.8                         77.8                4504                    4200                  4605                    4500                         4000                         5200
25    2023  National University of Singapore  College of Design and Engineering  Bachelor of Engineering (Environmental Engineering)                             76.9                         74.4                4199                    4200                  4299                    4243                         3900                         4588
26    2023  National University of Singapore  College of Design and Engineering  Bachelor of Engineering (Industrial and Systems Engineering)                    94.6                         94.6                4483                    4500                  4744                    4600                         4280                         4990
27    2023  National University of Singapore  College of Design and Engineering  Bachelor of Engineering (Materials Science and Engineering)                     83                           75.5                4253                    4200                  4371                    4346                         4000                         4700
28    2023  National University of Singapore  College of Design and Engineering  Bachelor of Engineering (Mechanical Engineering)                                89.2                         87.9                4578                    4320                  4722                    4490                         4030                         5046
29    2023  National University of Singapore  College of Design and Engineering  Bachelor of Arts (Architecture)6**                                              87.2833                      83.2                4226.58                 4120.42               4357.33                 4232.42                      3890.83                      4669.42
30    2023  National University of Singapore  College of Design and Engineering  Bachelor of Landscape Architecture*                                             93.8                         93.8                3438                    3450                  3506                    3450                         3350                         3500
31    2023  National University of Singapore  College of Design and Engineering  Bachelor of Arts (Industrial Design)                                            85.7                         71.4                4104                    4000                  4139                    4000                         3600                         4500
32    2023  National University of Singapore  College of Design and Engineering  Bachelor of Science (Project and Facilities Management)                         87                           83.5                3907                    3800                  4000                    3855                         3650                         4299

/var/folders/wj/7q277z8x2nj5jd3sszmhkz3h0000gn/T/ipykernel_44026/246409243.py:83: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  GES_2023_NUS_df.loc[row_index] = GES_2023_NUS_df.loc[row_index].shift(1)

GES 2023 NTU PDF

In [245]:
import fitz 
import pandas as pd 
import numpy as np
from tabulate import tabulate 

# Insert the path of where your CPFMS3 and CPFPNMS3 are saved in your local drive (Exemption IBG and PAYNOW lumpsum) 
GES_2023_NTU_path = r"/Users/zeming/DSA3101/Web Publication NTU GES 2023.pdf"
#GES_2023_SIT_path
#GES_2023_SMU_path
#GES_2023_NUS_path

# Print the file path to verify
print(f"GES 2023 NTU File path: {GES_2023_NTU_path}")

# Open CPFMS3 PDF file
GES_2023_NTU_pdf = fitz.open(GES_2023_NTU_path)

# Select the page (e.g., first page)
page = GES_2023_NTU_pdf.load_page(0)

# Extract text with their positions
blocks = page.get_text("blocks")

# Process the blocks to form a table
rows = []

for block in blocks:
    # Adjust unpacking to match the actual structure of block tuples
    if len(block) >= 5:
        x0, y0, x1, y1, text, block_no = block[:6] 

    # Split block text into lines 
    lines = text.split("\n")
    for line in lines:
        rows.append((y0, x0, line))

# Sort rows by their y-coordinate (top to bottom)
rows.sort(key=lambda r: r[0])

# Group text into rows
table_data = []
current_row = []
current_y = None
tolerance = 3 # Tolerance for considering text as part of the same row

for y, x, text in rows:
    if current_y is None or abs(y - current_y) > tolerance:
        if current_row:
            table_data.append(current_row)
        current_row = [text]
        current_y = y
    else:
        current_row.append(text)

# Append the last row
if current_row:
    table_data.append(current_row)

# Convert the list of lists into a DataFrame
GES_2023_NTU_df = pd.DataFrame(table_data)

# Remove commas and convert to numeric types
GES_2023_NTU_df = GES_2023_NTU_df.replace({',': ''}, regex=True)
GES_2023_NTU_df = GES_2023_NTU_df.replace({'\$':''}, regex=True) 
GES_2023_NTU_df = GES_2023_NTU_df.replace({'%':''}, regex=True) 
GES_2023_NTU_df = GES_2023_NTU_df.apply(pd.to_numeric, errors='ignore')

# Drop rows 1 to 12 
GES_2023_NTU_df = GES_2023_NTU_df.drop(GES_2023_NTU_df.index[0:12])

# Reset the index after dropping rows, and drop the old index
GES_2023_NTU_df = GES_2023_NTU_df.reset_index(drop=True)

# Rename all column headers to the same ones as 2013-22 report
GES_2023_NTU_df.columns = ['school', 'degree', 'employment_rate_overall', 'employment_rate_ft_perm', 
                           'basic_monthly_mean', 'basic_monthly_median', 'gross_monthly_mean',
                           'gross_monthly_median', 'gross_mthly_25_percentile', 'gross_mthly_75_percentile', '']

# Shift rows that are misaligned to the right 
print(GES_2023_NTU_df.index)

rows_to_shift_to_right = [3,4,7,8,9,10,11,12,13,15,16,17,18,19,20,22,23,24,25,26,27,28,29,30,31,32,33,35,37,38,39,40] 
rows_to_shift_to_right = [row - 2 for row in rows_to_shift_to_right]

for row_index in rows_to_shift_to_right:
    GES_2023_NTU_df.loc[row_index] = GES_2023_NTU_df.loc[row_index].shift(1)


# Combine columns for specific rows to get full degree names 
rows_to_combine = [5,14,36]
rows_to_combine = [row - 2 for row in rows_to_combine]
GES_2023_NTU_df.loc[rows_to_combine, 'degree'] = GES_2023_NTU_df.loc[rows_to_combine, 'school'] + GES_2023_NTU_df.loc[rows_to_combine, 'degree']

# Drop rows 
rows_to_drop = [6,21,34,41] 
rows_to_drop = [row - 2 for row in rows_to_drop]
GES_2023_NTU_df = GES_2023_NTU_df.drop(rows_to_drop, axis=0)
GES_2023_NTU_df = GES_2023_NTU_df.reset_index(drop=True)

# Rename Faculty 
rows_to_rename_1 = [2,3,4,5]
rows_to_rename_2 = [6,7,8,9,10,11,12,13,14,15,16,17,18,19]
rows_to_rename_3 = [20,21,22,23,24,25,26,27,28,29,30,31]
rows_to_rename_4 = [32,33,34,35,36,37]
rows_to_rename_1 = [x - 2 for x in rows_to_rename_1]
rows_to_rename_2 = [x - 2 for x in rows_to_rename_2]
rows_to_rename_3 = [x - 2 for x in rows_to_rename_3]
rows_to_rename_4 = [x - 2 for x in rows_to_rename_4]

GES_2023_NTU_df.loc[rows_to_rename_1, 'school'] = 'College of Business (Nanyang Business School)'
GES_2023_NTU_df.loc[rows_to_rename_2, 'school'] = 'College of Engineering'
GES_2023_NTU_df.loc[rows_to_rename_3, 'school'] = 'College of Humanities, Arts & Social Sciences'
GES_2023_NTU_df.loc[rows_to_rename_4, 'school'] = 'College of Science'

# Chang to numeric
GES_2023_NTU_df['employment_rate_overall'] = pd.to_numeric(GES_2023_NTU_df['employment_rate_overall'], errors='coerce')
GES_2023_NTU_df['employment_rate_ft_perm'] = pd.to_numeric(GES_2023_NTU_df['employment_rate_ft_perm'], errors='coerce')
GES_2023_NTU_df['basic_monthly_mean'] = pd.to_numeric(GES_2023_NTU_df['basic_monthly_mean'], errors='coerce')
GES_2023_NTU_df['basic_monthly_median'] = pd.to_numeric(GES_2023_NTU_df['basic_monthly_median'], errors='coerce')
GES_2023_NTU_df['gross_monthly_mean'] = pd.to_numeric(GES_2023_NTU_df['gross_monthly_mean'], errors='coerce')
GES_2023_NTU_df['gross_monthly_median'] = pd.to_numeric(GES_2023_NTU_df['gross_monthly_median'], errors='coerce')
GES_2023_NTU_df['gross_mthly_25_percentile'] = pd.to_numeric(GES_2023_NTU_df['gross_mthly_25_percentile'], errors='coerce')
GES_2023_NTU_df['gross_mthly_75_percentile'] = pd.to_numeric(GES_2023_NTU_df['gross_mthly_75_percentile'], errors='coerce')

# Insert new columns at the beginning to add year and uni 
GES_2023_NTU_df.insert(0, 'year', '2023')
GES_2023_NTU_df.insert(1, 'university', 'Nanyang Technological University')

# Drop the last two blank columns
GES_2023_NTU_df = GES_2023_NTU_df.iloc[:, :-1]

# Print the DataFrame using tabulate
print("Extracted GES NTU 2023 Table:\n")
print(tabulate(GES_2023_NTU_df, headers='keys', tablefmt='plain'))

# Save the DataFrame to a CSV file
output_csv_path = "/Users/zeming/DSA3101/GES_2023_NTU.csv"
GES_2023_NTU_df.to_csv(output_csv_path, index=False)

# Close the document
GES_2023_NTU_pdf.close()

GES 2023 NTU File path: /Users/zeming/DSA3101/Web Publication NTU GES 2023.pdf
RangeIndex(start=0, stop=40, step=1)
Extracted GES NTU 2023 Table:

      year  university                        school                                         degree                                                           employment_rate_overall    employment_rate_ft_perm    basic_monthly_mean    basic_monthly_median    gross_monthly_mean    gross_monthly_median    gross_mthly_25_percentile    gross_mthly_75_percentile
 0    2023  Nanyang Technological University  College of Business (Nanyang Business School)  Accountancy                                                                         96.6                       95.5                  4067                    3600                  4119                    3600                         3600                         4000
 1    2023  Nanyang Technological University  College of Business (Nanyang Business School)  Accountancy and Business                                                            97.2                       95.4                  4957                    4500                  5030                    4650                         4000                         5344
 2    2023  Nanyang Technological University  College of Business (Nanyang Business School)  Business                                                                            91.8                       85.2                  4472                    4100                  4609                    4255                         3800                         5000
 3    2023  Nanyang Technological University  College of Business (Nanyang Business School)  Double Degree in Business and Computer Engineering/Computing6                       94.7                       89.5                  6616                    6200                  6799                    6210                         5500                         7000
 4    2023  Nanyang Technological University  College of Engineering                         Aerospace Engineering                                                               87.5                       83.8                  4715                    4500                  4845                    4763                         4150                         5700
 5    2023  Nanyang Technological University  College of Engineering                         Bioengineering                                                                      86.7                       80                    3945                    4000                  4077                    4043                         3775                         4450
 6    2023  Nanyang Technological University  College of Engineering                         Chemical and Biomolecular Engineering                                               92                         87                    4019                    4000                  4299                    4200                         3950                         4550
 7    2023  Nanyang Technological University  College of Engineering                         Civil Engineering                                                                   97.5                       95                    3905                    3850                  4012                    4000                         3600                         4232
 8    2023  Nanyang Technological University  College of Engineering                         Computer Engineering                                                                89.3                       87.5                  5512                    5400                  5631                    5400                         4700                         6200
 9    2023  Nanyang Technological University  College of Engineering                         Computer Science                                                                    88.3                       86.5                  5334                    5200                  5440                    5200                         4800                         6000
10    2023  Nanyang Technological University  College of Engineering                         Data Science and Artificial Intelligence                                            83.3                       83.3                  5319                    5250                  5352                    5250                         4600                         6250
11    2023  Nanyang Technological University  College of Engineering                         Double Degree in Engineering and Economics7*                                       100                        100                    5517                    5285                  5812                    5405                         4900                         6500
12    2023  Nanyang Technological University  College of Engineering                         Electrical and Electronic Engineering                                               87.1                       85.6                  4713                    4650                  4803                    4800                         4200                         5100
13    2023  Nanyang Technological University  College of Engineering                         Environmental Engineering                                                           60.6                       54.5                  3967                    3850                  4099                    4115                         3800                         4337
14    2023  Nanyang Technological University  College of Engineering                         Information Engineering and Media                                                   75                         69.1                  4761                    4800                  4857                    4800                         4400                         5100
15    2023  Nanyang Technological University  College of Engineering                         Maritime Studies                                                                    93.8                       92.3                  4223                    4200                  4302                    4200                         4000                         4500
16    2023  Nanyang Technological University  College of Engineering                         Materials Engineering                                                               83.1                       77.9                  4216                    4200                  4351                    4200                         3900                         4645
17    2023  Nanyang Technological University  College of Engineering                         Mechanical Engineering                                                              85                         82.5                  4379                    4250                  4481                    4400                         4000                         4864
18    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Art Design and Media                                                                80.6                       52.4                  3471                    3498                  3515                    3498                         3000                         3755
19    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Chinese                                                                             83.6                       70.9                  3927                    4015                  4007                    4090                         3450                         4530
20    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Communication Studies                                                               88.7                       77.4                  3625                    3600                  3719                    3675                         3350                         4000
21    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Economics                                                                           80.6                       70.9                  4411                    4150                  4561                    4314                         4000                         4975
22    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  English                                                                             83.3                       63                    3698                    3500                  3803                    3775                         3300                         4180
23    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  History                                                                             88.5                       73.1                  4105                    4200                  4233                    4200                         3800                         4500
24    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Interdisciplinary Double Major8                                                     88.9                       85.2                  4065                    4000                  4085                    4000                         3500                         4300
25    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Linguistics and Multilingual Studies                                                80.4                       56.9                  3803                    3800                  3899                    3950                         3500                         4238
26    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Philosophy                                                                          87.9                       78.8                  3864                    3992                  4056                    4000                         3500                         4550
27    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Psychology                                                                          83.2                       68.4                  3882                    3800                  3913                    4000                         3550                         4268
28    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Public Policy and Global Affairs                                                    85.1                       83                    4317                    4200                  4401                    4202                         3800                         5124
29    2023  Nanyang Technological University  College of Humanities, Arts & Social Sciences  Sociology                                                                           86.4                       74.1                  3849                    3800                  3994                    4008                         3540                         4400
30    2023  Nanyang Technological University  College of Science                             Biological and Biomedical Sciences9                                                 88.1                       83.9                  3963                    3850                  4116                    3980                         3575                         4300
31    2023  Nanyang Technological University  College of Science                             Biomedical Sciences and Chinese Medicine10*                                         96.3                       85.2                  3297                    3350                  3358                    3350                         3200                         3600
32    2023  Nanyang Technological University  College of Science                             Chemistry and Biological Chemistry                                                  80.4                       66.4                  3822                    3725                  3941                    3800                         3500                         4200
33    2023  Nanyang Technological University  College of Science                             Environmental Earth Systems Science11                                               96.3                       96.3                  4171                    4038                  4202                    4138                         3750                         4650
34    2023  Nanyang Technological University  College of Science                             Mathematics and Mathematical Sciences12                                             80.2                       73.3                  4545                    4200                  4574                    4250                         3800                         4800
35    2023  Nanyang Technological University  College of Science                             Physics and Applied Physics                                                         80.9                       72.3                  3904                    4000                  4076                    4000                         3905                         4400

/var/folders/wj/7q277z8x2nj5jd3sszmhkz3h0000gn/T/ipykernel_44026/2253374071.py:86: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '4650 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  GES_2023_NTU_df.loc[row_index] = GES_2023_NTU_df.loc[row_index].shift(1)

GES 2023 SIT PDF

In [311]:
import fitz 
import pandas as pd 
import numpy as np
from tabulate import tabulate 

# Insert the path of where your CPFMS3 and CPFPNMS3 are saved in your local drive (Exemption IBG and PAYNOW lumpsum) 
GES_2023_SIT_path = r"/Users/zeming/DSA3101/Web Publication SIT GES 2023.pdf"

# Print the file path to verify
print(f"GES 2023 SIT File path: {GES_2023_SIT_path}")

# Open CPFMS3 PDF file
GES_2023_SIT_pdf = fitz.open(GES_2023_SIT_path)

# Select the page (e.g., first page)
page = GES_2023_SIT_pdf.load_page(0)

# Extract text with their positions
blocks = page.get_text("blocks")

# Process the blocks to form a table
rows = []

for block in blocks:
    # Adjust unpacking to match the actual structure of block tuples
    if len(block) >= 5:
        x0, y0, x1, y1, text, block_no = block[:6] 

    # Split block text into lines 
    lines = text.split("\n")
    for line in lines:
        rows.append((y0, x0, line))

# Sort rows by their y-coordinate (top to bottom)
rows.sort(key=lambda r: r[0])

# Group text into rows
table_data = []
current_row = []
current_y = None
tolerance = 10 # Tolerance for considering text as part of the same row

for y, x, text in rows:
    if current_y is None or abs(y - current_y) > tolerance:
        if current_row:
            table_data.append(current_row)
        current_row = [text]
        current_y = y
    else:
        current_row.append(text)

# Append the last row
if current_row:
    table_data.append(current_row)

# Convert the list of lists into a DataFrame
GES_2023_SIT_df = pd.DataFrame(table_data)

# Remove commas and convert to numeric types
GES_2023_SIT_df = GES_2023_SIT_df.replace({',': ''}, regex=True)
GES_2023_SIT_df = GES_2023_SIT_df.replace({'\$':''}, regex=True) 
GES_2023_SIT_df = GES_2023_SIT_df.replace({'%':''}, regex=True) 
GES_2023_SIT_df = GES_2023_SIT_df.apply(pd.to_numeric, errors='ignore')

# Drop rows 1 to 12 
GES_2023_SIT_df = GES_2023_SIT_df.drop(GES_2023_SIT_df.index[0:9])

# Reset the index after dropping rows, and drop the old index
GES_2023_SIT_df = GES_2023_SIT_df.reset_index(drop=True)

# Rename all column headers to the same ones as 2013-22 report
GES_2023_SIT_df.columns = ['school', 'degree', 'employment_rate_overall', 'employment_rate_ft_perm', 
                           'basic_monthly_mean', 'basic_monthly_median', 'gross_monthly_mean',
                           'gross_monthly_median', 'gross_mthly_25_percentile', 'gross_mthly_75_percentile', 'a', 'b','c','d']

# Shift rows that are misaligned to the right 
print(GES_2023_SIT_df.index)

rows_to_shift_to_right = [4] 
rows_to_shift_to_right = [row - 2 for row in rows_to_shift_to_right]

for row_index in rows_to_shift_to_right:
    GES_2023_SIT_df.loc[row_index] = GES_2023_SIT_df.loc[row_index].shift(1)


# Combine columns for specific rows to get full degree names 
# to combine columns 2 and 3 only 
rows_to_combine = [2,8]
rows_to_combine = [row - 2 for row in rows_to_combine]
GES_2023_SIT_df.loc[rows_to_combine, 'degree'] = GES_2023_SIT_df.loc[rows_to_combine, 'degree'] + GES_2023_SIT_df.loc[rows_to_combine, 'employment_rate_overall']

# to combine columns 1 and 2 only 
rows_to_combine = [5,6,9,16,17,18,19,21,22]
rows_to_combine = [row - 2 for row in rows_to_combine]
GES_2023_SIT_df.loc[rows_to_combine, 'degree'] = GES_2023_SIT_df.loc[rows_to_combine, 'school'] + GES_2023_SIT_df.loc[rows_to_combine, 'degree']

# to combine columns 1, 2 and 3 only 
rows_to_combine = [7,8,10,11,12,13,14,15,20]
rows_to_combine = [row - 2 for row in rows_to_combine]
GES_2023_SIT_df.loc[rows_to_combine, 'degree'] = GES_2023_SIT_df.loc[rows_to_combine, 'school'] + GES_2023_SIT_df.loc[rows_to_combine, 'degree'] + GES_2023_SIT_df.loc[rows_to_combine, 'employment_rate_overall']
   
# Shift rows that are misaligned to the left -1
rows_to_shift_to_left = [2,8] 
rows_to_shift_to_left = [row - 2 for row in rows_to_shift_to_left]
columns_to_shift = ['employment_rate_overall', 'employment_rate_ft_perm', 
                           'basic_monthly_mean', 'basic_monthly_median', 'gross_monthly_mean',
                           'gross_monthly_median', 'gross_mthly_25_percentile', 'gross_mthly_75_percentile', 'a'] 

for row_index in rows_to_shift_to_left:
    GES_2023_SIT_df.loc[row_index, columns_to_shift] = GES_2023_SIT_df.loc[row_index, columns_to_shift].shift(-1)

# Shift rows that are misaligned to the left -2
rows_to_shift_to_left = [7,10,11,12,13,14,15,20] 
rows_to_shift_to_left = [row - 2 for row in rows_to_shift_to_left]
columns_to_shift = ['employment_rate_overall', 'employment_rate_ft_perm', 
                           'basic_monthly_mean', 'basic_monthly_median', 'gross_monthly_mean',
                           'gross_monthly_median', 'gross_mthly_25_percentile', 'gross_mthly_75_percentile', 'a', 'b'] 

for row_index in rows_to_shift_to_left:
    GES_2023_SIT_df.loc[row_index, columns_to_shift] = GES_2023_SIT_df.loc[row_index, columns_to_shift].shift(-2)

# Drop rows 
rows_to_drop = [3,23,24] 
rows_to_drop = [row - 2 for row in rows_to_drop]
GES_2023_SIT_df = GES_2023_SIT_df.drop(rows_to_drop, axis=0)
GES_2023_SIT_df = GES_2023_SIT_df.reset_index(drop=True)

# Rename Faculty 
rows_to_rename_1 = [3,4,5,6]
rows_to_rename_2 = [7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
rows_to_rename_1 = [x - 2 for x in rows_to_rename_1]
rows_to_rename_2 = [x - 2 for x in rows_to_rename_2]

GES_2023_SIT_df.loc[rows_to_rename_1, 'school'] = 'DigiPen Institute of Technology'
GES_2023_SIT_df.loc[rows_to_rename_2, 'school'] = 'Singapore Institute of Technology (SIT)'

# Chang to numeric
GES_2023_SIT_df['employment_rate_overall'] = pd.to_numeric(GES_2023_SIT_df['employment_rate_overall'], errors='coerce')
GES_2023_SIT_df['employment_rate_ft_perm'] = pd.to_numeric(GES_2023_SIT_df['employment_rate_ft_perm'], errors='coerce')
GES_2023_SIT_df['basic_monthly_mean'] = pd.to_numeric(GES_2023_SIT_df['basic_monthly_mean'], errors='coerce')
GES_2023_SIT_df['basic_monthly_median'] = pd.to_numeric(GES_2023_SIT_df['basic_monthly_median'], errors='coerce')
GES_2023_SIT_df['gross_monthly_mean'] = pd.to_numeric(GES_2023_SIT_df['gross_monthly_mean'], errors='coerce')
GES_2023_SIT_df['gross_monthly_median'] = pd.to_numeric(GES_2023_SIT_df['gross_monthly_median'], errors='coerce')
GES_2023_SIT_df['gross_mthly_25_percentile'] = pd.to_numeric(GES_2023_SIT_df['gross_mthly_25_percentile'], errors='coerce')
GES_2023_SIT_df['gross_mthly_75_percentile'] = pd.to_numeric(GES_2023_SIT_df['gross_mthly_75_percentile'], errors='coerce')

# Insert new columns at the beginning to add year and uni 
GES_2023_SIT_df.insert(0, 'year', '2023')
GES_2023_SIT_df.insert(1, 'university', 'Singapore Institute of Technology')

# Drop the last four blank columns
GES_2023_SIT_df = GES_2023_SIT_df.iloc[:, :-4]

# Print the DataFrame using tabulate
print("Extracted GES SIT 2023 Table:\n")
print(tabulate(GES_2023_SIT_df, headers='keys', tablefmt='plain'))

# Save the DataFrame to a CSV file
output_csv_path = "/Users/zeming/DSA3101/GES_2023_SIT.csv"
GES_2023_SIT_df.to_csv(output_csv_path, index=False)

# Close the document
GES_2023_SIT_pdf.close()

GES 2023 SIT File path: /Users/zeming/DSA3101/Web Publication SIT GES 2023.pdf
RangeIndex(start=0, stop=23, step=1)
Extracted GES SIT 2023 Table:

      year  university                         school                                   degree                                                                                                    employment_rate_overall    employment_rate_ft_perm    basic_monthly_mean    basic_monthly_median    gross_monthly_mean    gross_monthly_median    gross_mthly_25_percentile    gross_mthly_75_percentile
 0    2023  Singapore Institute of Technology  Culinary Institute of America            Bachelor of Business Administration in Food Business Management                                                              90.5                       66.7                  3078                    2900                  3344                    3100                         2800                         4000
 1    2023  Singapore Institute of Technology  DigiPen Institute of Technology          Bachelor of Arts in Game Design*                                                                                             86.4                       81.8                  3718                    3600                  3721                    3600                         3300                         4000
 2    2023  Singapore Institute of Technology  DigiPen Institute of Technology          Bachelor of Fine Arts in Digital Art and Animation                                                                           84                         44                    3330                    3200                  3330                    3200                         3000                         3300
 3    2023  Singapore Institute of Technology  DigiPen Institute of Technology          Bachelor of Science in Computer Science and Game Design                                                                      88.2                       86.3                  4890                    4900                  4912                    4900                         4400                         5500
 4    2023  Singapore Institute of Technology  DigiPen Institute of Technology          Bachelor of Science in Computer Science in Real-Time Interactive Simulation                                                  79.5                       79.5                  5204                    5000                  5260                    5000                         4700                         5700
 5    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Singapore Institute of Technology (SIT) Bachelor of Accountancy with Honours Honours                                         92.7                       87.8                  3745                    3600                  3797                    3620                         3600                         4000
 6    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Engineering with Honours in Aircraft Systems Engineering**                                                       85.2                       66.7                  4109                    4400                  4117                    4400                         3650                         4800
 7    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Engineering with Honours in Information & Communications Technology (Information Security)                       94.4                       93                    5157                    5000                  5392                    5200                         4750                         6050
 8    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Engineering with Honours in Information & Communications Technology (Software Engineering)                       88.7                       82.3                  5000                    4900                  5131                    5000                         4800                         5500
 9    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Engineering with Honours in Pharmaceutical Engineering                                                           91.2                       87.7                  3756                    3700                  4208                    4150                         3640                         4700
10    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Engineering with Honours in Sustainable Infrastructure Engineering (Building Services)                           92.5                       90                    3727                    3700                  3842                    3800                         3600                         4200
11    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Engineering with Honours in Sustainable Infrastructure Engineering (Land)                                        88.5                       80.8                  4007                    3800                  4220                    4200                         3850                         4300
12    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Engineering with Honours in Telematics (Intelligent Transportation Systems Engineering)                          85.7                       81                    4437                    4500                  4642                    4725                         4200                         4900
13    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Hospitality Business with Honours                                                                                93.5                       77.8                  3405                    3400                  3595                    3500                         3089                         3900
14    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Science with Honours in Air Transport Management                                                                 85.7                       83.7                  3675                    3700                  3830                    3720                         3472                         4100
15    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Science with Honours in Diagnostic Radiography                                                                  100                        100                    3884                    3850                  4126                    4050                         3900                         4300
16    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Science with Honours in Dietetics and Nutrition*                                                                100                        100                    3629                    3550                  3637                    3575                         3500                         3850
17    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Science with Honours in Digital Communications and Integrated Media                                              93.2                       61.4                  3824                    3750                  3912                    3780                         3500                         4126
18    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Science with Honours in Occupational Therapy                                                                    100                         98.6                  3786                    3800                  3824                    3800                         3700                         3900
19    2023  Singapore Institute of Technology  Singapore Institute of Technology (SIT)  Bachelor of Science with Honours in Radiation Therapy*                                                                       90.9                       90.9                  4030                    3850                  4030                    3850                         3850                         4235

/var/folders/wj/7q277z8x2nj5jd3sszmhkz3h0000gn/T/ipykernel_44026/3170385527.py:83: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '4000 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  GES_2023_SIT_df.loc[row_index] = GES_2023_SIT_df.loc[row_index].shift(1)

GES 2023 SMU PDF

In [251]:
import fitz 
import pandas as pd 
import numpy as np
from tabulate import tabulate 

# Insert the path of where your CPFMS3 and CPFPNMS3 are saved in your local drive (Exemption IBG and PAYNOW lumpsum) 
GES_2023_SMU_path = r"/Users/zeming/DSA3101/Web Publication SMU GES 2023.pdf"

# Print the file path to verify
print(f"GES 2023 SMU File path: {GES_2023_SMU_path}")

# Open CPFMS3 PDF file
GES_2023_SMU_pdf = fitz.open(GES_2023_SMU_path)

# Select the page (e.g., first page)
page = GES_2023_SMU_pdf.load_page(0)

# Extract text with their positions
blocks = page.get_text("blocks")

# Process the blocks to form a table
rows = []

for block in blocks:
    # Adjust unpacking to match the actual structure of block tuples
    if len(block) >= 5:
        x0, y0, x1, y1, text, block_no = block[:6] 

    # Split block text into lines 
    lines = text.split("\n")
    for line in lines:
        rows.append((y0, x0, line))

# Sort rows by their y-coordinate (top to bottom)
rows.sort(key=lambda r: r[0])

# Group text into rows
table_data = []
current_row = []
current_y = None
tolerance = 3 # Tolerance for considering text as part of the same row

for y, x, text in rows:
    if current_y is None or abs(y - current_y) > tolerance:
        if current_row:
            table_data.append(current_row)
        current_row = [text]
        current_y = y
    else:
        current_row.append(text)

# Append the last row
if current_row:
    table_data.append(current_row)

# Convert the list of lists into a DataFrame
GES_2023_SMU_df = pd.DataFrame(table_data)

# Remove commas and convert to numeric types
GES_2023_SMU_df = GES_2023_SMU_df.replace({',': ''}, regex=True)
GES_2023_SMU_df = GES_2023_SMU_df.replace({'\$':''}, regex=True) 
GES_2023_SMU_df = GES_2023_SMU_df.replace({'%':''}, regex=True) 
GES_2023_SMU_df = GES_2023_SMU_df.apply(pd.to_numeric, errors='ignore')

# Drop rows 1 to 12 
GES_2023_SMU_df = GES_2023_SMU_df.drop(GES_2023_SMU_df.index[0:13])
GES_2023_SMU_df = GES_2023_SMU_df.drop(GES_2023_SMU_df.index[20:36])

# Reset the index after dropping rows, and drop the old index
GES_2023_SMU_df = GES_2023_SMU_df.reset_index(drop=True)

# Rename all column headers to the same ones as 2013-22 report
GES_2023_SMU_df.columns = ['school', 'degree', 'employment_rate_overall', 'employment_rate_ft_perm', 
                           'basic_monthly_mean', 'basic_monthly_median', 'gross_monthly_mean',
                           'gross_monthly_median', 'gross_mthly_25_percentile', 'gross_mthly_75_percentile']

# Shift rows that are misaligned to the right 
print(GES_2023_SMU_df.index)

rows_to_shift_to_right = [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21] 
rows_to_shift_to_right = [row - 2 for row in rows_to_shift_to_right]

for row_index in rows_to_shift_to_right:
    GES_2023_SMU_df.loc[row_index] = GES_2023_SMU_df.loc[row_index].shift(1)


# Drop rows 
rows_to_drop = [4,7,10,13,16,19] 
rows_to_drop = [row - 2 for row in rows_to_drop]
GES_2023_SMU_df = GES_2023_SMU_df.drop(rows_to_drop, axis=0)
GES_2023_SMU_df = GES_2023_SMU_df.reset_index(drop=True)


# Rename Faculty 
rows_to_rename_1 = [2,3]
rows_to_rename_2 = [4,5]
rows_to_rename_3 = [6,7]
rows_to_rename_4 = [8,9]
rows_to_rename_5 = [10,11]
rows_to_rename_6 = [12,13]
rows_to_rename_7 = [14,15]
rows_to_rename_1 = [x - 2 for x in rows_to_rename_1]
rows_to_rename_2 = [x - 2 for x in rows_to_rename_2]
rows_to_rename_3 = [x - 2 for x in rows_to_rename_3]
rows_to_rename_4 = [x - 2 for x in rows_to_rename_4]
rows_to_rename_5 = [x - 2 for x in rows_to_rename_5]
rows_to_rename_6 = [x - 2 for x in rows_to_rename_6]
rows_to_rename_7 = [x - 2 for x in rows_to_rename_7]


GES_2023_SMU_df.loc[rows_to_rename_1, 'school'] = 'School of Accountancy (4-year programme)6'
GES_2023_SMU_df.loc[rows_to_rename_2, 'school'] = 'School of Business (4-year programme)6'
GES_2023_SMU_df.loc[rows_to_rename_3, 'school'] = 'School of Economics (4-year programme)6'
GES_2023_SMU_df.loc[rows_to_rename_4, 'school'] = 'School of Computing & Information Systems (4-year programme) – Information Systems6'
GES_2023_SMU_df.loc[rows_to_rename_5, 'school'] = 'School of Computing & Information Systems (4-year programme) – Computer Science6'
GES_2023_SMU_df.loc[rows_to_rename_6, 'school'] = 'School of Social Sciences (4-year programme)6'
GES_2023_SMU_df.loc[rows_to_rename_7, 'school'] = 'School of Law (4-year programme)6'



# Convert to numeric 
GES_2023_SMU_df['employment_rate_overall'] = pd.to_numeric(GES_2023_SMU_df['employment_rate_overall'], errors='coerce')
GES_2023_SMU_df['employment_rate_ft_perm'] = pd.to_numeric(GES_2023_SMU_df['employment_rate_ft_perm'], errors='coerce')
GES_2023_SMU_df['basic_monthly_mean'] = pd.to_numeric(GES_2023_SMU_df['basic_monthly_mean'], errors='coerce')
GES_2023_SMU_df['basic_monthly_median'] = pd.to_numeric(GES_2023_SMU_df['basic_monthly_median'], errors='coerce')
GES_2023_SMU_df['gross_monthly_mean'] = pd.to_numeric(GES_2023_SMU_df['gross_monthly_mean'], errors='coerce')
GES_2023_SMU_df['gross_monthly_median'] = pd.to_numeric(GES_2023_SMU_df['gross_monthly_median'], errors='coerce')
GES_2023_SMU_df['gross_mthly_25_percentile'] = pd.to_numeric(GES_2023_SMU_df['gross_mthly_25_percentile'], errors='coerce')
GES_2023_SMU_df['gross_mthly_75_percentile'] = pd.to_numeric(GES_2023_SMU_df['gross_mthly_75_percentile'], errors='coerce')

# Insert new columns at the beginning to add year and uni 
GES_2023_SMU_df.insert(0, 'year', '2023')
GES_2023_SMU_df.insert(1, 'university', 'Singapore Management University')

# Print the DataFrame using tabulate
print("Extracted GES SMU 2023 Table:\n")
print(tabulate(GES_2023_SMU_df, headers='keys', tablefmt='plain'))

# Save the DataFrame to a CSV file
output_csv_path = "/Users/zeming/DSA3101/GES_2023_SMU.csv"
GES_2023_SMU_df.to_csv(output_csv_path, index=False)

# Close the document
GES_2023_SMU_pdf.close()

GES 2023 SMU File path: /Users/zeming/DSA3101/Web Publication SMU GES 2023.pdf
RangeIndex(start=0, stop=20, step=1)
Extracted GES SMU 2023 Table:

      year  university                       school                                                                               degree                 employment_rate_overall    employment_rate_ft_perm    basic_monthly_mean    basic_monthly_median    gross_monthly_mean    gross_monthly_median    gross_mthly_25_percentile    gross_mthly_75_percentile
 0    2023  Singapore Management University  School of Accountancy (4-year programme)6                                            Accountancy                               95.5                       94.7                  4404                    3800                  4463                    3900                         3600                         4700
 1    2023  Singapore Management University  School of Accountancy (4-year programme)6                                            Cum Laude and above                       96                         94.9                  5017                    4500                  5069                    4500                         3850                         5400
 2    2023  Singapore Management University  School of Business (4-year programme)6                                               Business Management                       92.4                       86.8                  4668                    4200                  4795                    4436                         3800                         5200
 3    2023  Singapore Management University  School of Business (4-year programme)6                                               Cum Laude and above                       95.5                       92                    5097                    4600                  5244                    4875                         4000                         5500
 4    2023  Singapore Management University  School of Economics (4-year programme)6                                              Economics                                 93.4                       91.3                  4849                    4500                  4937                    4500                         4000                         5254
 5    2023  Singapore Management University  School of Economics (4-year programme)6                                              Cum Laude and above                       95.7                       95.7                  5495                    4833                  5565                    4833                         4300                         6000
 6    2023  Singapore Management University  School of Computing & Information Systems (4-year programme) – Information Systems6  Information Systems                       92.3                       88.4                  5381                    5250                  5530                    5400                         4800                         6250
 7    2023  Singapore Management University  School of Computing & Information Systems (4-year programme) – Information Systems6  Cum Laude and above                       95                         93.5                  5710                    5500                  5866                    5625                         5000                         6666
 8    2023  Singapore Management University  School of Computing & Information Systems (4-year programme) – Computer Science6     Computer Science                          92.7                       92.7                  5762                    5513                  6120                    5800                         5100                         6500
 9    2023  Singapore Management University  School of Computing & Information Systems (4-year programme) – Computer Science6     Cum Laude and above                       94.1                       94.1                  6470                    6250                  6902                    6250                         5500                         7752
10    2023  Singapore Management University  School of Social Sciences (4-year programme)6                                        Social Sciences                           87                         81.5                  4185                    3900                  4330                    4000                         3600                         4780
11    2023  Singapore Management University  School of Social Sciences (4-year programme)6                                        Cum Laude and above                       86.8                       81.3                  4398                    4150                  4547                    4312                         3700                         5000
12    2023  Singapore Management University  School of Law (4-year programme)6                                                    Law7                                      99.2                       99.2                  6375                    6500                  6509                    7000                         5800                         7000
13    2023  Singapore Management University  School of Law (4-year programme)6                                                    Cum Laude and above                       98.9                       98.9                  6553                    7000                  6690                    7000                         6200                         7000

/var/folders/wj/7q277z8x2nj5jd3sszmhkz3h0000gn/T/ipykernel_44026/1675805211.py:84: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '3800 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  GES_2023_SMU_df.loc[row_index] = GES_2023_SMU_df.loc[row_index].shift(1)
/var/folders/wj/7q277z8x2nj5jd3sszmhkz3h0000gn/T/ipykernel_44026/1675805211.py:84: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '3900 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  GES_2023_SMU_df.loc[row_index] = GES_2023_SMU_df.loc[row_index].shift(1)

GES 2023 SUSS

In [306]:
import fitz 
import pandas as pd 
import numpy as np
from tabulate import tabulate 

# Insert the path of where your CPFMS3 and CPFPNMS3 are saved in your local drive (Exemption IBG and PAYNOW lumpsum) 
GES_2023_SUSS_path = r"/Users/zeming/DSA3101/Web Publication SUSS GES 2023.pdf"

# Print the file path to verify
print(f"GES 2023 SUSS File path: {GES_2023_SUSS_path}")

# Open CPFMS3 PDF file
GES_2023_SUSS_pdf = fitz.open(GES_2023_SUSS_path)

# Select the page (e.g., first page)
page = GES_2023_SUSS_pdf.load_page(0)

# Extract text with their positions
blocks = page.get_text("blocks")

# Process the blocks to form a table
rows = []

for block in blocks:
    # Adjust unpacking to match the actual structure of block tuples
    if len(block) >= 5:
        x0, y0, x1, y1, text, block_no = block[:6] 

    # Split block text into lines 
    lines = text.split("\n")
    for line in lines:
        rows.append((y0, x0, line))

# Sort rows by their y-coordinate (top to bottom)
rows.sort(key=lambda r: r[0])

# Group text into rows
table_data = []
current_row = []
current_y = None
tolerance = 3 # Tolerance for considering text as part of the same row

for y, x, text in rows:
    if current_y is None or abs(y - current_y) > tolerance:
        if current_row:
            table_data.append(current_row)
        current_row = [text]
        current_y = y
    else:
        current_row.append(text)

# Append the last row
if current_row:
    table_data.append(current_row)

# Convert the list of lists into a DataFrame
GES_2023_SUSS_df = pd.DataFrame(table_data)

# Remove commas and convert to numeric types
GES_2023_SUSS_df = GES_2023_SUSS_df.replace({',': ''}, regex=True)
GES_2023_SUSS_df = GES_2023_SUSS_df.replace({'\$':''}, regex=True) 
GES_2023_SUSS_df = GES_2023_SUSS_df.replace({'%':''}, regex=True) 
GES_2023_SUSS_df = GES_2023_SUSS_df.apply(pd.to_numeric, errors='ignore')

# Drop rows 1 to 12 
GES_2023_SUSS_df = GES_2023_SUSS_df.drop(GES_2023_SUSS_df.index[0:9])
GES_2023_SUSS_df = GES_2023_SUSS_df.drop(GES_2023_SUSS_df.index[22:37])

# Reset the index after dropping rows, and drop the old index
GES_2023_SUSS_df = GES_2023_SUSS_df.reset_index(drop=True)

GES_2023_SUSS_df = GES_2023_SUSS_df.drop(GES_2023_SUSS_df.index[12:])
GES_2023_SUSS_df = GES_2023_SUSS_df.reset_index(drop=True)

# Rename all column headers to the same ones as 2013-22 report
GES_2023_SUSS_df.columns = ['school', 'degree', 'employment_rate_overall', 'employment_rate_ft_perm', 
                           'basic_monthly_mean', 'basic_monthly_median', 'gross_monthly_mean',
                           'gross_monthly_median', 'gross_mthly_25_percentile', 'gross_mthly_75_percentile','','']

# Shift rows that are misaligned to the right 
print(GES_2023_SUSS_df.index)

rows_to_shift_to_right = [4,7,8,11,13] 
rows_to_shift_to_right = [row - 2 for row in rows_to_shift_to_right]

for row_index in rows_to_shift_to_right:
    GES_2023_SUSS_df.loc[row_index] = GES_2023_SUSS_df.loc[row_index].shift(1)

    
# to combine columns 1 and 2 only 
rows_to_combine = [3,6,9]
rows_to_combine = [row - 2 for row in rows_to_combine]
GES_2023_SUSS_df.loc[rows_to_combine, 'degree'] = GES_2023_SUSS_df.loc[rows_to_combine, 'school'] + GES_2023_SUSS_df.loc[rows_to_combine, 'degree']


# Drop rows 
rows_to_drop = [10,12] 
rows_to_drop = [row - 2 for row in rows_to_drop]
GES_2023_SUSS_df = GES_2023_SUSS_df.drop(rows_to_drop, axis=0)
GES_2023_SUSS_df = GES_2023_SUSS_df.reset_index(drop=True)


# Rename Faculty 
rows_to_rename_1 = [2,3,4]
rows_to_rename_2 = [5,6,7,8,9]
rows_to_rename_3 = [10]
rows_to_rename_4 = [11]
rows_to_rename_1 = [x - 2 for x in rows_to_rename_1]
rows_to_rename_2 = [x - 2 for x in rows_to_rename_2]
rows_to_rename_3 = [x - 2 for x in rows_to_rename_3]
rows_to_rename_4 = [x - 2 for x in rows_to_rename_4]

GES_2023_SUSS_df.loc[rows_to_rename_1, 'school'] = 'S R Nathan School of Human Development'
GES_2023_SUSS_df.loc[rows_to_rename_2, 'school'] = 'School of Business'
GES_2023_SUSS_df.loc[rows_to_rename_3, 'school'] = 'School of Humanities and Behavioural Sciences'
GES_2023_SUSS_df.loc[rows_to_rename_4, 'school'] = 'School of Law'


# Convert to numeric 
GES_2023_SUSS_df['employment_rate_overall'] = pd.to_numeric(GES_2023_SUSS_df['employment_rate_overall'], errors='coerce')
GES_2023_SUSS_df['employment_rate_ft_perm'] = pd.to_numeric(GES_2023_SUSS_df['employment_rate_ft_perm'], errors='coerce')
GES_2023_SUSS_df['basic_monthly_mean'] = pd.to_numeric(GES_2023_SUSS_df['basic_monthly_mean'], errors='coerce')
GES_2023_SUSS_df['basic_monthly_median'] = pd.to_numeric(GES_2023_SUSS_df['basic_monthly_median'], errors='coerce')
GES_2023_SUSS_df['gross_monthly_mean'] = pd.to_numeric(GES_2023_SUSS_df['gross_monthly_mean'], errors='coerce')
GES_2023_SUSS_df['gross_monthly_median'] = pd.to_numeric(GES_2023_SUSS_df['gross_monthly_median'], errors='coerce')
GES_2023_SUSS_df['gross_mthly_25_percentile'] = pd.to_numeric(GES_2023_SUSS_df['gross_mthly_25_percentile'], errors='coerce')
GES_2023_SUSS_df['gross_mthly_75_percentile'] = pd.to_numeric(GES_2023_SUSS_df['gross_mthly_75_percentile'], errors='coerce')


# Drop the last four blank columns
GES_2023_SUSS_df = GES_2023_SUSS_df.iloc[:, :-2]

# Find and fill row and column with missing values with the mean values of the column 
def find_and_fill_missing_values_by_faculty(df):
    # Replace 'N.A.' with NaN so pandas can treat them as missing values
    df.replace(r'\s*N\.A\.\s*', np.nan, regex=True, inplace=True)
    
    # 'Faculty' is the column to group by
    faculty_column = 'school'  # Adjust this to match your actual column name if different

    # Check data types before replacing
    print("Column data types before processing:")
    print(df.dtypes)

    # Loop through all columns to fill missing values where applicable
    for col in df.columns:
        # Ensure we are dealing with numeric columns
        if pd.api.types.is_numeric_dtype(df[col]):
            # Group by the 'Faculty' column and fill missing values with the mean within each group
            df[col] = df.groupby(faculty_column)[col].transform(lambda group: group.fillna(group.mean()))
            print(f"Filled missing values in column '{col}' using group mean based on '{faculty_column}'")

    return df

def find_and_fill_missing_values(df):
    # Iterate over the DataFrame to check for missing values
    for col in df.columns:
        # Convert column to numeric if possible (to handle mixed types), ignore errors
        df[col] = pd.to_numeric(df[col], errors='ignore')

        # Check if the column has missing values (NaN)
        if df[col].isnull().sum() > 0:  # This ensures we are checking if there are any NaN values
            # Fill missing values in numeric columns only
            if pd.api.types.is_numeric_dtype(df[col]):
                mean_value = df[col].mean()
                df[col].fillna(mean_value, inplace=True)
                print(f"Filled missing values in column '{col}' with mean: {mean_value}")
            else:
                print(f"Column '{col}' is not numeric, skipping...")

    return df
    
GES_2023_SUSS_df = find_and_fill_missing_values_by_faculty(GES_2023_SUSS_df)
GES_2023_SUSS_df = find_and_fill_missing_values(GES_2023_SUSS_df) #for bachelor of law as faculty of law only has one bachelor 


# Insert new columns at the beginning to add year and uni 
GES_2023_SUSS_df.insert(0, 'year', '2023')
GES_2023_SUSS_df.insert(1, 'university', 'Singapore University of Social Sciences')

# Print the DataFrame using tabulate
print("Extracted GES SUSS 2023 Table:\n")
print(tabulate(GES_2023_SUSS_df, headers='keys', tablefmt='plain'))

# Save the DataFrame to a CSV file
output_csv_path = "/Users/zeming/DSA3101/GES_2023_SUSS.csv"
GES_2023_SUSS_df.to_csv(output_csv_path, index=False)

# Close the document
GES_2023_SUSS_pdf.close()

GES 2023 SUSS File path: /Users/zeming/DSA3101/Web Publication SUSS GES 2023.pdf
RangeIndex(start=0, stop=12, step=1)
Column data types before processing:
school                        object
degree                        object
employment_rate_overall      float64
employment_rate_ft_perm      float64
basic_monthly_mean           float64
basic_monthly_median         float64
gross_monthly_mean           float64
gross_monthly_median         float64
gross_mthly_25_percentile    float64
gross_mthly_75_percentile    float64
dtype: object
Filled missing values in column 'employment_rate_overall' using group mean based on 'school'
Filled missing values in column 'employment_rate_ft_perm' using group mean based on 'school'
Filled missing values in column 'basic_monthly_mean' using group mean based on 'school'
Filled missing values in column 'basic_monthly_median' using group mean based on 'school'
Filled missing values in column 'gross_monthly_mean' using group mean based on 'school'
Filled missing values in column 'gross_monthly_median' using group mean based on 'school'
Filled missing values in column 'gross_mthly_25_percentile' using group mean based on 'school'
Filled missing values in column 'gross_mthly_75_percentile' using group mean based on 'school'
Filled missing values in column 'employment_rate_overall' with mean: 89.08333333333333
Filled missing values in column 'employment_rate_ft_perm' with mean: 82.36111111111111
Filled missing values in column 'basic_monthly_mean' with mean: 3893.3333333333335
Filled missing values in column 'basic_monthly_median' with mean: 3836.6666666666665
Filled missing values in column 'gross_monthly_mean' with mean: 4057.3333333333335
Filled missing values in column 'gross_monthly_median' with mean: 3949.0
Filled missing values in column 'gross_mthly_25_percentile' with mean: 3587.277777777778
Filled missing values in column 'gross_mthly_75_percentile' with mean: 4316.277777777777
Extracted GES SUSS 2023 Table:

      year  university                               school                                         degree                                            employment_rate_overall    employment_rate_ft_perm    basic_monthly_mean    basic_monthly_median    gross_monthly_mean    gross_monthly_median    gross_mthly_25_percentile    gross_mthly_75_percentile
 0    2023  Singapore University of Social Sciences  S R Nathan School of Human Development         Bachelor of Early Childhood Education                             83.9                       73.2                  3270                    3300                  3328                       3400                      3097                         3525
 1    2023  Singapore University of Social Sciences  S R Nathan School of Human Development         Bachelor of Human Resource Management                             88.6                       75.9                  3530                    3500                  3650                       3500                      3310                         3904
 2    2023  Singapore University of Social Sciences  S R Nathan School of Human Development         Bachelor of Social Work**                                         86.25                      74.55                 3400                    3400                  3489                       3450                      3203.5                       3714.5
 3    2023  Singapore University of Social Sciences  School of Business                             Bachelor of Accountancy                                           94.1                       94.1                  3560                    3600                  3601                       3600                      3500                         3600
 4    2023  Singapore University of Social Sciences  School of Business                             Bachelor of Science in Business Analytics                         83.3                       83.3                  4670                    4500                  4840                       4800                      4300                         5200
 5    2023  Singapore University of Social Sciences  School of Business                             Bachelor of Science in Finance                                    86                         81.4                  4674                    4500                  4965                       4500                      4000                         5200
 6    2023  Singapore University of Social Sciences  School of Business                             Bachelor of Science in Marketing                                  85.4                       67.5                  3670                    3500                  3896                       3600                      3400                         4040
 7    2023  Singapore University of Social Sciences  School of Business                             Bachelor of Science in Supply Chain Management                    94.2                       91.3                  3883                    3900                  4038                       4000                      3600                         4363
 8    2023  Singapore University of Social Sciences  School of Humanities and Behavioural Sciences  Bachelor of Public Safety and Security*                          100                        100                    4383                    4330                  4709                       4691                      3875                         5300
 9    2023  Singapore University of Social Sciences  School of Law                                  Bachelor of Law6**                                                89.0833                    82.3611               3893.33                 3836.67               4057.33                    3949                      3587.28                      4316.28

Join 2023 data with 2013-22 data

In [313]:
# Concatenate all DataFrames together, including GES_2013_22_df
all_GES_df = pd.concat([GES_2023_NUS_df, GES_2023_NTU_df, GES_2023_SIT_df, GES_2023_SMU_df, GES_2023_SUSS_df, GES_2013_22_df], ignore_index=True)

# Sort by 'year' and 'university'
all_GES_df = all_GES_df.sort_values(by=['year', 'university'])

# Reset index for cleanliness
all_GES_df.reset_index(drop=True, inplace=True)

# Display or save the combined DataFrame
print(all_GES_df)

# Optionally save to CSV
output_csv_path = "/Users/zeming/DSA3101/all_GES.csv"
all_GES_df.to_csv(output_csv_path, index=False)

      year                               university  \
0     2013         Nanyang Technological University
1     2013         Nanyang Technological University
2     2013         Nanyang Technological University
3     2013         Nanyang Technological University
4     2013         Nanyang Technological University
...    ...                                      ...
1370  2023  Singapore University of Social Sciences
1371  2023  Singapore University of Social Sciences
1372  2023  Singapore University of Social Sciences
1373  2023  Singapore University of Social Sciences
1374  2023  Singapore University of Social Sciences

                                             school  \
0     College of Business (Nanyang Business School)
1     College of Business (Nanyang Business School)
2     College of Business (Nanyang Business School)
3     College of Business (Nanyang Business School)
4                            College of Engineering
...                                             ...
1370                             School of Business
1371                             School of Business
1372                             School of Business
1373  School of Humanities and Behavioural Sciences
1374                                  School of Law

                                               degree  \
0                            Accountancy and Business
1         Accountancy (3-yr direct Honours Programme)
2            Business (3-yr direct Honours Programme)
3                              Business and Computing
4                               Aerospace Engineering
...                                               ...
1370                  Bachelor of Science in Finance
1371                Bachelor of Science in Marketing
1372  Bachelor of Science in Supply Chain Management
1373         Bachelor of Public Safety and Security*
1374                              Bachelor of Law6**

      employment_rate_overall  employment_rate_ft_perm  basic_monthly_mean  \
0                   97.400000                96.100000         3701.000000
1                   97.100000                95.700000         2850.000000
2                   90.900000                85.700000         3053.000000
3                   87.500000                87.500000         3557.000000
4                   95.300000                95.300000         3494.000000
...                       ...                      ...                 ...
1370                86.000000                81.400000         4674.000000
1371                85.400000                67.500000         3670.000000
1372                94.200000                91.300000         3883.000000
1373               100.000000               100.000000         4383.000000
1374                89.083333                82.361111         3893.333333

      basic_monthly_median  gross_monthly_mean  gross_monthly_median  \
0              3200.000000         3727.000000                3350.0
1              2700.000000         2938.000000                2700.0
2              3000.000000         3214.000000                3000.0
3              3400.000000         3615.000000                3400.0
4              3500.000000         3536.000000                3500.0
...                    ...                 ...                   ...
1370           4500.000000         4965.000000                4500.0
1371           3500.000000         3896.000000                3600.0
1372           3900.000000         4038.000000                4000.0
1373           4330.000000         4709.000000                4691.0
1374           3836.666667         4057.333333                3949.0

      gross_mthly_25_percentile  gross_mthly_75_percentile
0                   2900.000000                4000.000000
1                   2700.000000                2900.000000
2                   2700.000000                3500.000000
3                   3000.000000                4100.000000
4                   3100.000000                3816.000000
...                         ...                        ...
1370                4000.000000                5200.000000
1371                3400.000000                4040.000000
1372                3600.000000                4363.000000
1373                3875.000000                5300.000000
1374                3587.277778                4316.277778

[1375 rows x 12 columns]